@font-face {
    font-family: '718';
    src: url('SevenOneEight-Light.eot');
    src: url('SevenOneEight-Light.eot?#iefix') format('embedded-opentype'),
        url('SevenOneEight-Light.woff2') format('woff2'),
        url('SevenOneEight-Light.woff') format('woff'),
        url('SevenOneEight-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: '718';
    src: url('SevenOneEight-Black.eot');
    src: url('SevenOneEight-Black.eot?#iefix') format('embedded-opentype'),
        url('SevenOneEight-Black.woff2') format('woff2'),
        url('SevenOneEight-Black.woff') format('woff'),
        url('SevenOneEight-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: '718 Book';
    src: url('SevenOneEight-Book.eot');
    src: url('SevenOneEight-Book.eot?#iefix') format('embedded-opentype'),
        url('SevenOneEight-Book.woff2') format('woff2'),
        url('SevenOneEight-Book.woff') format('woff'),
        url('SevenOneEight-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: '718';
    src: url('SevenOneEight-ExtraBold.eot');
    src: url('SevenOneEight-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('SevenOneEight-ExtraBold.woff2') format('woff2'),
        url('SevenOneEight-ExtraBold.woff') format('woff'),
        url('SevenOneEight-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: '718';
    src: url('SevenOneEight-Medium.eot');
    src: url('SevenOneEight-Medium.eot?#iefix') format('embedded-opentype'),
        url('SevenOneEight-Medium.woff2') format('woff2'),
        url('SevenOneEight-Medium.woff') format('woff'),
        url('SevenOneEight-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }