.footer {
    @extend .bg-grey, .grey-light, .seo-light;
    z-index: 3;
    margin: 0 10%;
    text-align: center;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    line-height: 20px;
    font-size: 16px;
    padding: 25px 0 30px 0;
    font-weight: 100;
    text-transform: uppercase;
    span {
        @extend .seo-extrabold;
    }
    &:after {
        @extend .bg-red;
        content: "";
        position: absolute;
        bottom: 15%;
        transform-origin: center;
        left: 50%;
        transform: translateX(-50%);
        width: 230px;
        height: 4px;
    }
}

@media (max-width: 1050px) {
    .footer {
        font-size: 0.8em;
        margin: 0;
        &:after {
            width: 100px;
        }
    }
}

@media (max-width: 760px) {
    .footer {
        font-size: 0.7;
    }
}
@media (max-width: 575px) {
    .footer {
        font-size: 0.6;
        &:after {
            width: 80px;
        }
    }
}

// @media (max-width: 481px) {
//     .footer {
//         font-size: 3vw;
//     }
// }

// @media (max-width: 375px) {
//     .footer {
//         font-size: 3vw;
//     }
// }
