/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@font-face {
  font-family: "SevenOneEight-Light";
  src: url("./assets/fonts/SevenOneEight-Light.eot");
  src: url("./assets/fonts/SevenOneEight-Light.eot?#iefix") format("embedded-opentype"), url("./assets/fonts/SevenOneEight-Light.woff2") format("woff2"), url("./assets/fonts/SevenOneEight-Light.woff") format("woff"), url("./assets/fonts/SevenOneEight-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SevenOneEight-Black";
  src: url("./assets/fonts/SevenOneEight-Black.eot");
  src: url("./assets/fonts/SevenOneEight-Black.eot?#iefix") format("embedded-opentype"), url("./assets/fonts/SevenOneEight-Black.woff2") format("woff2"), url("./assets/fonts/SevenOneEight-Black.woff") format("woff"), url("./assets/fonts/SevenOneEight-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SevenOneEight-Book";
  src: url("./assets/fonts/SevenOneEight-Book.eot");
  src: url("./assets/fonts/SevenOneEight-Book.eot?#iefix") format("embedded-opentype"), url("./assets/fonts/SevenOneEight-Book.woff2") format("woff2"), url("./assets/fonts/SevenOneEight-Book.woff") format("woff"), url("./assets/fonts/SevenOneEight-Book.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SevenOneEight-ExtraBold";
  src: url("./assets/fonts/SevenOneEight-ExtraBold.eot");
  src: url("./assets/fonts/SevenOneEight-ExtraBold.eot?#iefix") format("embedded-opentype"), url("./assets/fonts/SevenOneEight-ExtraBold.woff2") format("woff2"), url("./assets/fonts/SevenOneEight-ExtraBold.woff") format("woff"), url("./assets/fonts/SevenOneEight-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SevenOneEight-Medium";
  src: url("./assets/fonts/SevenOneEight-Medium.eot");
  src: url("./assets/fonts/SevenOneEight-Medium.eot?#iefix") format("embedded-opentype"), url("./assets/fonts/SevenOneEight-Medium.woff2") format("woff2"), url("./assets/fonts/SevenOneEight-Medium.woff") format("woff"), url("./assets/fonts/SevenOneEight-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Emirates Bold";
  src: url("./assets/fonts/Emirates Bold.eot");
  src: url("./assets/fonts/Emirates Bold.eot?#iefix") format("embedded-opentype"), url("./assets/fonts/Emirates Bold.woff2") format("woff2"), url("./assets/fonts/Emirates Bold.woff") format("woff"), url("./assets/fonts/Emirates Bold.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
}
.seo-light {
  font-family: "SevenOneEight-Light";
}
.seo-black {
  font-family: "SevenOneEight-Black";
}
.seo-book {
  font-family: "SevenOneEight-Book";
}
.seo-extrabold {
  font-family: "SevenOneEight-ExtraBold";
}
.seo-medium {
  font-family: "SevenOneEight-Medium";
}

.emirates, .header .title {
  font-family: "Emirates Bold";
}

.red, .header .title {
  color: #e23022;
}

.grey-light {
  color: #efefef;
}

.grey {
  color: #333333;
}

.yellow {
  color: #bd9c6a;
}

.blue {
  color: #041a41;
}

.bg-red {
  background-color: #e23022;
}

.bg-grey-light, body {
  background-color: #efefef;
}

.bg-grey, .footer {
  background-color: #333333;
}

.bg-yellow {
  background-color: #bd9c6a;
}

.bg-blue {
  background-color: #041a41;
}

.footer {
  margin: 0 10%;
  text-align: center;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 50px;
}

.header {
  margin: 10px 10% 0 10%;
  text-align: center;
}
.header .title {
  text-transform: uppercase;
  color: #e23022;
}
.header .promotion {
  font-family: "SevenOneEight-Book";
  text-transform: uppercase;
}

/*# sourceMappingURL=index.css.map */
