/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@font-face {
  font-family: "SevenOneEight-Light";
  src: url("./assets/fonts/SevenOneEight-Light.eot");
  src: url("./assets/fonts/SevenOneEight-Light.eot?#iefix") format("embedded-opentype"), url("./assets/fonts/SevenOneEight-Light.woff2") format("woff2"), url("./assets/fonts/SevenOneEight-Light.woff") format("woff"), url("./assets/fonts/SevenOneEight-Light.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SevenOneEight-Black";
  src: url("./assets/fonts/SevenOneEight-Black.eot");
  src: url("./assets/fonts/SevenOneEight-Black.eot?#iefix") format("embedded-opentype"), url("./assets/fonts/SevenOneEight-Black.woff2") format("woff2"), url("./assets/fonts/SevenOneEight-Black.woff") format("woff"), url("./assets/fonts/SevenOneEight-Black.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SevenOneEight-Book";
  src: url("./assets/fonts/SevenOneEight-Book.eot");
  src: url("./assets/fonts/SevenOneEight-Book.eot?#iefix") format("embedded-opentype"), url("./assets/fonts/SevenOneEight-Book.woff2") format("woff2"), url("./assets/fonts/SevenOneEight-Book.woff") format("woff"), url("./assets/fonts/SevenOneEight-Book.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SevenOneEight-ExtraBold";
  src: url("./assets/fonts/SevenOneEight-ExtraBold.eot");
  src: url("./assets/fonts/SevenOneEight-ExtraBold.eot?#iefix") format("embedded-opentype"), url("./assets/fonts/SevenOneEight-ExtraBold.woff2") format("woff2"), url("./assets/fonts/SevenOneEight-ExtraBold.woff") format("woff"), url("./assets/fonts/SevenOneEight-ExtraBold.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SevenOneEight-Medium";
  src: url("./assets/fonts/SevenOneEight-Medium.eot");
  src: url("./assets/fonts/SevenOneEight-Medium.eot?#iefix") format("embedded-opentype"), url("./assets/fonts/SevenOneEight-Medium.woff2") format("woff2"), url("./assets/fonts/SevenOneEight-Medium.woff") format("woff"), url("./assets/fonts/SevenOneEight-Medium.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Emirates Bold";
  src: url("./assets/fonts/Emirates Bold.eot");
  src: url("./assets/fonts/Emirates Bold.eot?#iefix") format("embedded-opentype"), url("./assets/fonts/Emirates Bold.woff2") format("woff2"), url("./assets/fonts/Emirates Bold.woff") format("woff"), url("./assets/fonts/Emirates Bold.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
}
.destination-footer .right .link-icon, .chevron-down img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.destination-footer .left, .destination, main {
  display: flex;
  flex-direction: column;
}

.seo-light, .destination-footer .left .place-label, .destination-footer .left .option,
.destination-footer .left .premium, .destination-footer .left .location, .footer {
  font-family: "SevenOneEight-Light";
}
.seo-black {
  font-family: "SevenOneEight-Black";
}
.seo-book, select, .header .promotion {
  font-family: "SevenOneEight-Book";
}
.seo-extrabold, .destination-upto label, .footer span {
  font-family: "SevenOneEight-ExtraBold";
}
.seo-medium {
  font-family: "SevenOneEight-Medium";
}

.emirates, .destination-footer .left h3 span, .header .title {
  font-family: "Emirates Bold";
}

.red, .header .title {
  color: #e23022;
}

.grey-light, .footer {
  color: #efefef;
}

.grey, .destination-footer .left .place-label, .destination-footer .left .location, .header .promotion {
  color: #333333;
}

.yellow {
  color: #bd9c6a;
}

.blue, select {
  color: #041a41;
}

.bg-red, .destination-footer .right .link, .line, .filter-logo .bar, .filter-logo .bar:after, .footer:after {
  background-color: #e23022;
}

.bg-grey-light, body {
  background-color: #efefef;
}

.bg-grey, .header:after, .footer {
  background-color: #333333;
}

.bg-yellow, .destination-footer .left .premium {
  background-color: #bd9c6a;
}

.bg-blue, .line:after {
  background-color: #041a41;
}

.footer {
  z-index: 3;
  margin: 0 10%;
  text-align: center;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  line-height: 20px;
  font-size: 16px;
  padding: 25px 0 30px 0;
  font-weight: 100;
  text-transform: uppercase;
}
.footer:after {
  content: "";
  position: absolute;
  bottom: 15%;
  transform-origin: center;
  left: 50%;
  transform: translateX(-50%);
  width: 230px;
  height: 4px;
}

@media (max-width: 1050px) {
  .footer {
    font-size: 0.8em;
    margin: 0;
  }
  .footer:after {
    width: 100px;
  }
}
@media (max-width: 760px) {
  .footer {
    font-size: 0.7;
  }
}
@media (max-width: 575px) {
  .footer {
    font-size: 0.6;
  }
  .footer:after {
    width: 80px;
  }
}
.header {
  position: relative;
  margin: 10px 10% 0 10%;
  text-align: center;
  white-space: nowrap;
}
.header:after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -15px;
  width: 150px;
  height: 4px;
}
.header .title {
  text-transform: uppercase;
  font-size: 2.5em;
}
.header .promotion {
  text-transform: uppercase;
  font-size: 2em;
}

@media (max-width: 991px) {
  .header .title {
    font-size: 2em;
  }
  .header .promotion {
    font-size: 1.5em;
  }
}
@media (max-width: 730px) {
  .header:after {
    width: 130px;
  }
}
@media (max-width: 760px) {
  .header {
    margin: 0;
  }
  .header .title {
    font-size: 1.7em;
  }
  .header .promotion {
    font-size: 1.2em;
  }
}
@media (max-width: 575px) {
  .header .title {
    font-size: 1.4em;
  }
  .header .promotion {
    font-size: 1em;
  }
}
@media (max-width: 481px) {
  .header .title {
    font-size: 1.2em;
  }
  .header .promotion {
    font-size: 0.8em;
  }
  .header:after {
    width: 100px;
  }
}
@media (max-width: 375px) {
  .header .title {
    font-size: 0.9em;
  }
  .header .promotion {
    font-size: 0.6em;
  }
}
.filter-container {
  margin: 80px 0 50px 0;
}

select {
  width: 100%;
  padding: 0 45px 0 60px;
  font-size: 18px;
  line-height: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 0 !important;
  background: white;
  background-image: none;
}
select option:first-child {
  margin-right: 23px;
}

/* Remove IE arrow */
select::-ms-expand {
  display: none;
}

/* Custom Select */
.select {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 265px;
  height: 3em;
  line-height: 3;
  background: white;
  overflow: hidden;
  text-transform: uppercase;
}
.select:hover .filter-logo .bar1:after {
  left: 20%;
  transition: 0.25s ease-in;
}
.select:hover .filter-logo .bar2:after {
  left: 60%;
  transition: 0.25s ease-in;
}
.select:hover .filter-logo .bar3:after {
  left: 15%;
  transition: 0.25s ease-in;
}

select {
  text-transform: uppercase;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  cursor: pointer;
}

/* Arrow */
.chevron-down {
  position: absolute;
  height: 100%;
  border-left: 2px solid #efefef;
  right: 0;
  background: white;
  width: 45px;
  display: block;
  pointer-events: none;
}
.chevron-down img {
  width: 23px;
  height: 10px;
}
.chevron-down.reverse {
  transform: rotateZ(180deg);
  transform-origin: center;
  border-left: 0;
  border-right: 2px solid #efefef;
}

.filter-logo {
  z-index: 9999;
  width: 45px;
  display: block;
  pointer-events: none;
  position: absolute;
  height: 100%;
  left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.filter-logo .bar {
  position: relative;
  width: 25px;
  height: 2px;
  margin-top: 6px;
}
.filter-logo .bar1:after {
  left: 60%;
  transition: 0.25s ease-in;
}
.filter-logo .bar2:after {
  left: 20%;
  transition: 0.25s ease-in;
}
.filter-logo .bar3:after {
  left: 50%;
  transition: 0.25s ease-in;
}
.filter-logo .bar:after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  width: 6px;
  height: 6px;
}
.filter-logo .bar:first-child {
  margin-top: 0;
}

@media only screen and (max-width: 1050px) {
  .select, select {
    background: none;
    border: 1px solid #333333;
    font-size: 16px;
  }

  .chevron-down {
    border-left: 1px solid #333333;
    background: #333333;;
  }
}
main {
  margin: 0 10%;
  padding-bottom: 80px;
  justify-content: space-around;
  align-items: center;
}

@media (max-width: 350px) {
  main {
    margin: 0;
    padding: 0 10px;
  }
}
.destination-wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 1.5vw;
  position: relative;
  padding-bottom: 100px;
}

@media only screen and (min-width: 750px) {
  .destination-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (min-width: 1050px) {
  .destination-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 730px) {
  .destination-wrapper {
    grid-gap: 20px;
  }
}
@media (max-width: 575px) {
  .destination-wrapper {
    grid-template-columns: repeat(1, 100%);
  }
}
.line {
  z-index: 1;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  width: 20px;
  height: 20px;
}

.line:after {
  content: "";
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  width: 3px;
  min-height: 300px;
  height: 20vw;
}

.destination {
  z-index: 2;
}
.destination-header {
  position: relative;
}
.destination-header .container-slider {
  border-radius: 10px 10px 0 0;
  overflow: hidden;
}
.destination-header .container-slider .link-image img {
  transform: scale(1);
  transition: 0.2s ease-in;
}
.destination-header .container-slider .link-image:hover img {
  transform: scale(1.05);
  transition: 0.2s ease-in;
}
.destination-header .dubai-logo {
  position: absolute;
  left: 15px;
  bottom: 15px;
}
.destination-header .dubai-logo img {
  height: 30px;
}
.destination .slideshow-container {
  display: flex;
  position: relative;
  overflow: hidden;
}
.destination-upto {
  position: absolute;
  bottom: 10px;
  right: 10px;
  display: flex;
}
.destination-upto label {
  color: white;
  text-transform: uppercase;
  line-height: 1.5;
}
.destination-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.destination-prev, .destination-next {
  width: 30px;
  bottom: 40%;
  font-size: 30px;
  color: white;
  position: absolute;
  cursor: pointer;
  text-align: center;
  vertical-align: center;
  user-select: none;
  transition: 0.1s ease-in;
}
.destination-prev:hover, .destination-next:hover {
  background: rgba(0, 0, 0, 0.349);
  transition: 0.1s ease-in;
}
.destination-prev {
  left: 0;
  border-radius: 0 5px 5px 0;
}
.destination-next {
  right: 0;
  border-radius: 5px 0 0 5px;
}
.destination-footer {
  justify-content: space-between;
  display: flex;
  height: 100px;
  width: 100%;
  position: relative;
  background: white;
  padding: 0 0 0 20px;
  border-radius: 0 0 10px 10px;
}
.destination-footer .left {
  justify-content: center;
}
.destination-footer .left .location {
  font-size: 1vw;
  white-space: nowrap;
}
.destination-footer .left h3 span.dubai {
  color: black;
}
.destination-footer .left .tags {
  display: flex;
  white-space: nowrap;
}
.destination-footer .left .option,
.destination-footer .left .premium {
  text-transform: uppercase;
  color: white;
  text-align: center;
  font-size: 0.7vmax;
  padding: 2px 4px;
  margin-right: 10px;
}
.destination-footer .left .option {
  background: #000;
}
.destination-footer .left .place-label {
  font-size: 0.8vw;
  margin-bottom: 10px;
}
.destination-footer .right {
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.destination-footer .right .link {
  width: 40px;
  height: 40px;
  position: relative;
  cursor: pointer;
}
.destination-footer .right .link-icon {
  width: 20px;
  height: 20px;
  transition: 0.2s ease;
}
.destination-footer .right .link-icon.hovered {
  left: 60%;
  transition: 0.2s ease;
}
.destination-footer .right .link:hover img {
  left: 60%;
  transition: 0.2s ease;
}

@media (max-width: 1420px) {
  .destination-wrapper .destination-footer .left .location {
    font-size: 1.2vw;
  }
  .destination-wrapper .destination-footer .left .place-label {
    font-size: 1vw;
  }
}
@media (max-width: 1000px) {
  .destination-wrapper .line {
    display: none;
  }
  .destination-wrapper .destination-footer .left .location {
    font-size: 1.6vw;
  }
  .destination-wrapper .destination-footer .left .place-label {
    font-size: 1.4vw;
  }
}
@media (max-width: 1050px) {
  .destination-wrapper .line {
    display: none;
  }
}
@media (max-width: 730px) {
  .destination-wrapper .destination-footer .left .location {
    font-size: 24px;
  }
  .destination-wrapper .destination-footer .left .place-label {
    font-size: 14px;
  }
}
@media (max-width: 750px) {
  .destination-wrapper .destination .dubai-logo {
    left: 15px;
    bottom: 15px;
  }
  .destination-wrapper .destination .dubai-logo img {
    height: 30px;
  }
}
@media (max-width: 575px) {
  .destination-wrapper .destination-footer {
    height: 90px;
  }
  .destination-wrapper .destination-footer .left .location {
    font-size: 3.5vw;
  }
  .destination-wrapper .destination-footer .left .place-label {
    font-size: 3vw;
  }
}
@media (max-width: 1400px) {
  .destination-wrapper .destination .dubai-logo {
    left: 10px;
    bottom: 10px;
  }
  .destination-wrapper .destination .dubai-logo img {
    height: 25px;
  }
  .destination-wrapper .destination-footer .right {
    right: 20px;
  }
  .destination-wrapper .destination-footer .right .link {
    width: 35px;
    height: 35px;
  }
  .destination-wrapper .destination-footer .right .link-icon {
    width: 15px;
    width: 15px;
  }
}

/*# sourceMappingURL=index.css.map */
